{{/* Display author list. */}}

{{ $taxonomy := "authors" }}
{{ with .Param $taxonomy }}
<!--   {{ $link_authors := site.Params.link_authors | default true }} -->
  {{- $buffer := "" }}

  {{ range $index, $value := . }}
    <span>
      {{- if and (eq $buffer "Liyuan Liu*") -}}
        <strong> {{$buffer}} </strong>
      {{- else if and (eq $buffer "Liyuan Liu") -}}
        <strong> {{$buffer}} </strong>
      {{- else -}}
        {{$buffer}}
      {{- end -}}
      {{- if gt $index 0 }}, {{ end -}}
      {{- $buffer = $value -}}
    </span>
  {{- end -}}

  <span>
    {{- if and (eq $buffer "Liyuan Liu*") -}}
      <strong> and {{$buffer}} </strong>
    {{- else if and (eq $buffer "Liyuan Liu") -}}
      <strong> and {{$buffer}} </strong>
    {{- else -}}
      and {{$buffer}}
    {{- end -}}
  </span>

{{ end }}
