<!DOCTYPE html>
<html lang="en-us">
{% seo %}
{% include head.html %}

<body>

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
        <h1 class="title">
          <span class="typewrite" data-period="2000" data-type='[ "Hello!&nbsp", "你好!&nbsp", "Bonjour!&nbsp", "(-:&nbsp", "Accepted!&nbsp", "Good Idea!&nbsp", ":-)&nbsp"]'>
            <span class="wrap"></span>
          </span>
        </h1>
      <h4 class="subtitle" id="quote">
      </h4>
    </div>
  </div>
</section>

<div class="main-container">
  <div class="tile is-ancestor is-vertical">


    <nav class="nav has-shadow">

      <div class="nav-left">

        <a href="/" class="nav-item">
          <span class="icon">
            <i class="fa fa-home" aria-hidden="true" title="Homepage"></i>
          </span>
        </a>

        <a href="/publication" class="nav-item">
          <span class="icon">
            <i class="fa fa-list-alt" aria-hidden="true" title="Publication"></i>
          </span>
        </a>

        <a href="/profile" class="nav-item">
          <span class="icon">
            <i class="fa fa-id-badge" aria-hidden="true" title="Profile"></i>
          </span>
        </a>

        <div href="https://www.instagram.com/s2free/" class="nav-item">
            |
        </div>

        <a href="https://www.instagram.com/s2free/" class="nav-item">
          <span class="icon">
            <i class="fa fa-instagram" aria-hidden="true" title="Instagram"></i>
          </span>
        </a>

        <a class="nav-item" href="https://github.com/LiyuanLucasLiu">
          <span class="icon">
          <i class="fa fa-facebook" aria-hidden="true" title="Facebook"></i>
          </span>
        </a>

      </div>

      <div class="nav-right nav-menu" id='nav-menu'>
  
        <a href="/archive" class="nav-item">Archive</a>
        <a href="/tags" class="nav-item">Tags</a>
        
      </div>

      <span class="nav-toggle" id="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
    </nav>

    <div class="tile is-parent">
      <div class="tile is-8 is-child main">

        {{ content }}

      </div>

      <div class="tile is-4 is-child">
        <div class="tile is-parent is-vertical sidebar">


          <div class="tile is-child widget">

            <div class="card">
              <header class="card-header">
                <div class="card-header-title nice-title">
                  <img style="margin-left: auto; margin-right:auto; display:block;" src="{{ site.baseurl }}/assets/images/triangle.jpg" width="50%"/>
                </div>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                  <p style="text-align: center;">
                    Liyuan Liu (Lucas) <br>
                    Ph.D. Student <br>
                    CS @ UIUC <br>
                    <a class="icon" href="https://github.com/LiyuanLucasLiu">
                      <i class="fa fa-github" title="Github"></i>
                    </a>
                    <a class="icon" href="www.linkedin.com/in/liyuanlucasliu">
                      <i class="fa fa-linkedin-square" title="Linkedin"></i>
                    </a>
                    <a class="icon" href="mailto:llychinalz@gmail.com">
                      <i class="fa fa-envelope" title="Email"></i>
                    </a>
                    <a class="icon" href="http://dm1.cs.uiuc.edu/">
                      <i class="fa fa-users" title="Research Group"></i>
                    </a>
                  </p>

                </div>
              </div>
            </div>

          </div>

          <div class="tile is-child widget">

            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  Highlight Projects
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                  <ul>
                  <li>
                  <a href="https://liyuanlucasliu.github.io/LM-LSTM-CRF/">
                    Sequence Labeling
                  </a>
                  <a href="https://liyuanlucasliu.github.io/ReHession/">
                    Relation Extraction
                  </a>
                  </li>
                  <li>
                  <a href="https://liyuanlucasliu.github.io/Content-Propagation/">
                    Community Detection
                  </a>
                  </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="tile is-child widget">

            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  Recent Posts
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                  <ul>
                  {% for post in site.posts limit:3 %}
                  <li><a href="{{ post.url }}">
                    {{ post.title }}
                  </a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="tile is-child widget">

            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  Search Blog
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                  <div class="nav-item" id="searchFieldNav">
                    <div class="field has-addons">
                      <p class="control">
                        <input class="input is-small" type="text" placeholder="Title" id="search-text">
                      </p>
                      <p class="control">
                        <a class="button is-dark is-small" onclick="searchHandler();">
                          Search
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tile is-child widget">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  Resources
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                  <ul>
                    <li>
                      <a href="http://www.math.uwaterloo.ca/~hwolkowi/matrixcookbook.pdf">Matrix Cookbook</a>
                    </li>
                    <li>
                      <a href="http://oyc.yale.edu/psychology/psyc-110/lecture-6">PSYC 110 from Yale</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Liyuan Liu @ UIUC, 2017.
      </p>
      <p>
        <a class="icon" href="https://github.com/LiyuanLucasLiu">
          <i class="fa fa-github" title="Github"></i>
        </a>
        <a class="icon" href="www.linkedin.com/in/liyuanlucasliu">
          <i class="fa fa-linkedin-square" title="Linkedin"></i>
        </a>
        <a class="icon" href="mailto:llychinalz@gmail.com">
          <i class="fa fa-envelope" title="Email"></i>
        </a>
        <a class="icon" href="http://dm1.cs.uiuc.edu/">
          <i class="fa fa-users" title="Research Group"></i>
        </a>
      </p>
      <p>
        <a href="http://www.hitwebcounter.com" target="_blank">
        <img src="http://hitwebcounter.com/counter/counter.php?page=6760300&style=0006&nbdigits=8&type=page&initCount=0" title="hit counts" Alt="hit counts" border="0" >
        </a>                                           
      </p>
      <p>
        by <a href="https://github.com/abhn/Soot-Spirits">Soot-Spirits</a>.
      </p>
    </div>
  </div>
</footer>

<!-- js -->
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>
<script src="{{ site.baseurl }}/assets/js/typewriter.js"></script>
</body>
</html>
